.Profile {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 50% 1fr;
  gap: 1rem;
}
.profilecenter {
  gap: 1rem;
  display: flex;
  flex-direction: column;
  width: 100%;
}
@media screen and (max-width: 53.125rem) {
  .Profile {
    grid-template-columns: 1fr 3fr 0.4fr;
    gap: 0.7rem;
  }
}
@media (max-width: 43.75rem) {
  .Profile {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 41.125rem) {
  .Profile {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 20rem) {
  .Profile {
    display: flex;
    flex-direction: column;
  }
}
