.ProfileCard {
  border-radius: 1.5rem;
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 1rem;
  overflow-x: clip;
  margin-top: 1rem;
  background: var(--cardColor);
}

.profileImages {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.profileImages > img:nth-of-type(1) {
  width: 100%;
  max-height: 160px;
  cursor: pointer;
}
.profileImages > div {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  position: absolute;
  bottom: -3rem;
  box-shadow: var(--profileShadow);
  border: 4px solid rgba(4, 250, 180, 0.711);
  padding: 2px;
  overflow: hidden;
}
.profileImages > div img:nth-of-type(1) {
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  cursor: pointer;
}
.profilename {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
  gap: 10px;
}
.profilename > span:nth-of-type(1) {
  font-weight: bold;
  cursor: pointer;
}
.followstatus {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
}
.followstatus hr {
  width: 85%;
  border: 1px solid var(--hrColor);
}
.followstatus > div {
  display: flex;
  gap: 1rem;
  width: 80%;
  justify-content: space-around;
  align-items: center;
}
.follow {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  align-items: center;
  justify-content: center;
}
.follow > span:nth-of-type(1) {
  font-weight: bold;
}
.follow > span:nth-of-type(2) {
  color: var(--gray);
  font-size: 13px;
}
.vl {
  height: 50px;
  border: 1px solid var(--hrColor);
}
.ProfileCard > span {
  align-self: center;
  font-weight: bold;
  color: orange;
  margin-bottom: 1rem;
  cursor: pointer;
}
@media screen and (max-width: 62.4375rem) {
  .ProfileCard {
    gap: 0.5rem;
    width: 100%;
  }
  .profileImages > img:nth-of-type(1) {
    width: 100%;
    max-height: 120px;
  }
  .profileImages > div {
    width: 5rem;
    height: 5rem;
  }
  .profilename {
    gap: 5px;
  }
  .profilename > span:nth-of-type(1) {
    font-size: 14px;
  }
  .profilename > span:nth-of-type(2) {
    font-size: 14px;
  }
  .followstatus {
    gap: 0.35rem;
  }
  .followstatus hr {
    width: 90%;
    border: 0.2px solid var(--hrColor);
  }
  .followstatus > div {
    gap: 0.3rem;
  }
  .follow > span:nth-of-type(1) {
    font-weight: bold;
    font-size: 14px;
  }
  .follow > span:nth-of-type(2) {
    font-size: 11px;
  }
  .vl {
    height: 35px;
  }
  .ProfileCard > span {
    font-size: 14px;
  }
}
@media screen and (max-width: 64rem) {
  .follow > span:nth-of-type(1) {
    font-size: 13px;
  }
  .follow > span:nth-of-type(2) {
    font-size: 11px;
  }
}
